.container {
  position: relative;
  width: 60vh;
}

.image {
  opacity: 1;
  display: auto;
  width: 60vh;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 22px;
  padding: 16px 32px;
  position: relative;
}

.scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome browsers */
}
