.container {
  position: relative;
  width: 56vh;
  margin-left: "20px";
  margin-right: "20px";
}

.image {
  opacity: 1;
  display: auto;
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 50%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 40vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 22px;
  padding: 16px 32px;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome browsers */
}

.button {
  transition: 0.5s ease;
  margin-top: 50%;
  position: absolute;
  width: 40vmin;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
